<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		
		<title>{{title}}</title>
	</head>

	<body>
		<div class="contacts">{{phoneNumber}}</div>
		<div class="contacts">{{email}}</div>

		<div class="name">{{names}}</div><br>

		<div class="heading">Biography</div>
		<div class="text12">{{bio}}</div><br>

		<div class="heading">Education</div>
		<div class="text14">Duration - {{studyDuration}}</div>
		<div class="text14">{{nameOfInstitution}} - {{nameOfQualification}}</div><br>

		<div class="heading">Work Experience</div>
		<div class="text14">Duration - {{workDuration}}</div>
		<div class="text14">{{nameOfCompany}} - {{jobTitle}}</div>
		<div class="text14">{{jobDescription}}</div><br>

		<div class="heading">Skills</div>
		<div class="text12">{{skills1}}</div>
		<div class="text12">{{skills1}}</div>
		<div class="text12">{{skills2}}</div>
		<div class="text12">{{skills3}}</div>
		<div class="text12">{{skills4}}</div>
		<div class="text12">{{skills5}}</div>
	</body>

</html>
